{% extends "JDLouvreBundle::layout.html.twig" %}
{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4 id="containers">Accueil</h4>
            </div>
            <div class="bs-component">
                <div class="jumbotron">
                    <h1>Musée Du Louvre</h1>
                    <p>Bienvenue sur le site du musée du Louvre.
                        Ancien palais des rois, le Louvre épouse l’histoire de France depuis huit siècles. Conçu dès sa création en 1793 comme un musée universel,
                        ses collections, qui figurent parmi les plus belles au monde, couvrent plusieurs millénaires et un territoire qui s’étend de l’Amérique aux frontières
                        de l’Asie. Réparties en huit départements, elles contiennent des œuvres universellement admirées, comme La Joconde, la Victoire de Samothrace ou la Vénus
                        de Milo. Le Louvre est aujourd’hui le musée le plus visité au monde.
                    </p>

                    <p>
                        Le musée propose plusieurs types de tarifs : <br>
                        Un tarif « normal » à partir de 12 ans à 16 €<br>
                        Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans)<br>
                        Un tarif « senior » à partir de 60 ans pour 12  €<br>
                        Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)<br>
                    </p>
                    <p><a href="{{ path('jd_reservation_startReservation') }}" class="btn btn-primary btn-lg">Reservez vos billets</a></p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}